<input 
type="text"
[(ngModel)]="serverName" >
<p>{{serverName}}</p>

<input 
type="text"
[(ngModel)]="userName" >
<p>{{userName}}</p>

<p *ngIf='setDisableButton(); else newButton'>
<button
(click) = "clearFields()"
>clear</button>
</p>
<ng-template #newButton>
<p>
    Button is now hidden
</p>
</ng-template>
<app-server></app-server>
<app-server></app-server>